@use "variable";

.main-title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.45px;
  color: $color__yellow;
  margin: 0;
}

.secondary-title {
  font-size: 1.3rem;
  color: $color__yellow;
  font-weight: bold;
  margin-top: 20px;
}